.Header {
  border-bottom: 2px solid #E1E2E3;
  background-color: rgb(250, 250, 250);
}

.Header nav {
  display: flex;
  position: relative;
}

.Header nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.Header nav ul li {
  list-style: none;
}

.Header nav ul li a {
  display: block;
  padding: 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}

.Header nav ul li .active {
  color: #007BFF;
}

.Header nav > .logo__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  background-color: rgb(250, 250, 250);
}

.Header nav > .logo__container .logo__title {
  color: #14BF96;
  font-weight: 700;
  font-size: 1.2rem;
}


