.Practice {
  
}

.Practice .question-container {
  
}

.Practice .question-container .question-title {
  padding: .65rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 2px solid #E1E2E3;
  background-color: #F5F5F5;
}

.Practice .question-container .question-answer {
  display: block;
  width: 100%;
  height: 270px;
  padding: .65rem;
  border-radius: 8px;
  border: 2px solid #E1E2E3;
}

.Practice .actions-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  border-top: 2px solid #E1E2E3;
  background-color: white;
}

.Practice .actions-container[data-state="correct"] {
  background-color: #D7FFB8;
  border-top: none;
}

.Practice .actions-container[data-state="incorrect"] {
  background-color: #FFDFE0;
  border-top: none;
}

.Practice .actions-container .content{
  display: flex;
  justify-content: space-between;
}

/* AlternativeItem */
.AlternativeItem {
  display: flex;
  border-radius: 8px;
  border: 2px solid #E1E2E3;
}

.AlternativeItem:hover {
  cursor: pointer;
  background-color: #F7F7F7;
}

.AlternativeItem .symbol {
  padding: .8rem 1rem;
}

.AlternativeItem .label {
  padding: .8rem 0;
}

.Practice .container-options label.options {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid #E1E2E3;
  border-radius: 6px;
  line-height: 1;
  text-align: left;
}
